@{
    ViewData["Title"] = "404 - Page Not Found";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style404.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <div class="container col-md-8">
        <div class="row">
            <div class="four0four col-md-4 col-sm-12 offset-md-2"><span class="off">4</span><span class="flicker2">0</span><span class="flicker3">4</span></div>
            <div class="not-found col-lg-2 col-md-12"><span class="flicker4">P</span><span class="off">a</span><span>ge </span><span>not </span><span class="off">f</span><span class="flicker1">o</span><span class="flicker3">u</span><span>n</span><span class="off">d</span></div>
            <div class="food0"></div>
            <div class="food1"></div>
            <div class="food2"></div>
            <div class="food3"></div>
            <div class="food4"></div>
            <div class="food5"></div>
            <div class="food6"></div>
            <div class="food7"></div>
            <div class="food8"></div>
            <div class="food9"></div>
        </div>
    </div>
</body>
</html>
