@{
    ViewData["Title"] = "401 - Unauthorized";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style401.css">
    <title>401 - Unauthorized</title>
</head>
<body>
    <div class="container col-md-8">
        <div class="row">
            <div class="four0one col-md-4 col-sm-12 offset-md-2"><span class="off">4</span><span class="flicker2">0</span><span class="flicker3">1</span></div>
            <div class="unauthorized col-lg-2 col-md-12"><span class="flicker4">U</span><span class="off">n</span><span>a</span><span>u</span><span>t</span><span class="off">h</span><span>o</span><span class="flicker1">r</span><span class="flicker3">i</span><span>z</span><span class="off">e</span><span>d</span></div>
            <div class="lock-icon"></div>
        </div>
        <div class="row">
            <button onclick="history.back()" class="back-home btn btn-secondary mt-3">Back Home</button>
        </div>
    </div>
</body>
</html>
